// Place all the styles related to the Pars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.csv_btn {
  margin-top: 20px;
  float: right;
  display: none;
  width: 15%;
  min-height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #286;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s;
  text-align:center;
}
.remove {
  margin-bottom: 18px;
}

a.csv_btn {
  color: #fff;
  text-decoration: none;
  z-index: 1;
}
.none {
  display: none;
}
.my_form {
  left: 40%
}
.select2-container--default {
  width: 100%!important;
}
.select2 span {
  margin-bottom: 10px;
}
.selection .select2-selection span {
  text-align-last: center;
  opacity: .85;
}
.absolute_CSV {
  position:fixed;
  top: 20px;
  right: 20px;
}
